@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin: 20px;
}


/* 공통 버튼 스타일 */
.init-btn {
    height: 35px;
    width: auto;
    padding: 15px;
    margin-right: 5px;
    background: #f4f4f4;
    border: #d6d6d6 solid 1px;
    border-radius: 20px;
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
   
.init-btn:hover {
    background-color: #fff;
}

.init-btn:active {
    transform: scale(0.95);
}

.init-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    opacity: 0.6;
}


/* 현위치 네이게이션 스타일 */
.init-nav ol {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  padding: 0;
  margin: 0;
}

.init-nav li {
  display: flex;
  align-items: center;
}

.init-nav li + li::before {
  content: "›";
  padding: 0 8px;
  color: #999;
  font-size: 14px;
}

.init-nav a {
  color: #444;
  text-decoration: none;
}

.init-nav a:hover {
  text-decoration: underline;
}

.init-nav strong {
  color: #000;
  font-weight: 600;
}

